.App {
    text-align: center;
    padding: 1em 5em 5em 5em;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.target-header-row {
    /*border: solid;*/
}

.target-header-col {
    text-align: center;
    margin: auto;
}

.target-header-font{
    font-size: x-large;
}

.col-border {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    padding: 0.5em;
}

.col-border-right{
    border-right: solid;
    border-bottom: solid;
    padding: 0.5em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.startCard {
    color: black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(211, 211, 211, 0.75);
}

.startCard:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.print-button{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.back-button{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
}
